body {
    padding: 0px;
    margin: 0px;
    background: #F5F6F7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */

header{
    padding: 1em 0px;
    background-color: #f6eda2;
    position: fixed;
    top: 0%;
    width: 100%;
    border-bottom: 2px solid #faed77;
}

.navbar {
    background-color: #f6eda2;
    
    
}

.navbar ul li{
    display: inline-block;
    
}

.navbar ul {
    margin: 0px;    
}

.navbar ul li a{
    padding: 1em 20px;
}

/* main */

main {
    flex: 1;
}

.container {
    display: block;
    margin: auto;
    margin: 5em 5em 2em;
}

.info { 
    max-width: 70em;
    margin: 30px 5em;
    background:#fff;
    border: 2px solid #dbd9d2;
    border-radius: 16px;
    overflow: hidden;
    
}

.info *{
    display: flex;
    justify-content: center;
    
}

.animais {
    max-width: 100%;
    width: 100%;    
    
}


/* footer */

.footer {
    background: #f6eda2;
    width: 100%;
    height: 2em;
    padding: 1em;
    border-top: 2px solid #faef91;
    flex-shrink: 0;
}

.footer p{
    margin: 0px;
    text-align: center;
    font-size: 125%;
}


/* cores links */


.navbar ul li a, .info a, .footer a{
    color: #1b253a;
    font-weight: 500;
}

.navbar ul li a:hover , .info a:hover, .footer a:hover{
    color: #1950d1;
    background-color: #f5e55a;
    
}

