body{
    color: aliceblue;
    background-color: rgb(37, 36, 36);
}

.tab{
    font-style: none;
    color: rgb(29, 209, 161);
}
.tx{
    font-style: none;
    color: rgb(50, 214, 105);
}
.vl{
    font-style: none;
    color: rgb(235, 22, 33);
}

.tl {
    color: rgb(33, 182, 142);
}

.cian {
    color: #000
}

