* {
    padding: 0px;
    margin: 0px;
}

.container2{
    display:flex;
    justify-content: center;
    margin: 5em;
    
}

.card-pet {
    width: 250px;
    height: 280px; /* Altura total do card, incluindo o espaço para o texto */
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden; /* Garante que a imagem não saia do limite do card */
    float:left;
    margin: 20px;
  }
  
  .card-pet img {
    width: 100%;
    height: 200px; /* Altura da imagem dentro do card */
    
    object-fit: cover; /* Redimensiona a imagem para cobrir todo o espaço disponível */
    object-position: center; /* Centraliza a imagem verticalmente */
  }
  
  .content {
    text-align: center;
    font-size: 1em;
  }
  